<!-- Override navbar-nav -->

      <ul id="navbar-main-elements" class="bd-navbar-elements navbar-nav">
         <li class="nav-item">
            <a class="nav-link" href="https://docs.inrupt.com/">Docs Home</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="https://docs.inrupt.com/ess/latest/">Enterprise Solid Server</a>
         </li>
         <div class="nav-item dropdown">
            <button class="btn dropdown-toggle nav-item" type="button"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Developer Tools</button>
            <div class="dropdown-menu">
               <li class="nav-item ">
                  <a href="https://docs.inrupt.com/developer-tools/java/client-libraries/">Java Client Libraries</a>
               </li>
               <li class="nav-item ">
                  <a href="https://docs.inrupt.com/developer-tools/javascript/client-libraries/">JavaScript Client Libraries</a>
               </li>
               <li class="nav-item ">
                  <a href="https://docs.inrupt.com/developer-tools/javascript/react-sdk/">Solid React SDK</a>
               </li>
            </div>
         </div>
         <li class="nav-item">
            <a class="nav-link" href="https://docs.inrupt.com/pod-spaces/">PodSpaces</a>
         </li>
         {%- if theme_show_api_menu|tobool %}
            {%- if theme_show_api_language == 'java' %}
               {% include "./api-menus/java-api-menu.html" %}
            {%- elif theme_show_api_language == 'javascript' %}
               {% include "./api-menus/javascript-api-menu.html" %}
            {%- else %}
               {% include "./api-menus/javascript-api-menu.html" %}
            {%- endif -%}
         {%- endif -%}
      </ul>


