
div.admonition {
  background-color: var(--inrupt-color-background);
}

p.admonition-title {
  color: var(--inrupt-color-admonition-text);
}


div.admonition.important {
  border-color: var(--inrupt-color-important);
}

.admonition.important > .admonition-title::before,
div.admonition.important > .admonition-title::before
{
   background-color: var(--inrupt-color-important-bg);
}


.admonition.important > .admonition-title::after, div.admonition.important > .admonition-title::after {
   color: var(--inrupt-color-important);
}



div.admonition.tip {
  border-color: var(--inrupt-color-tip);
}

.admonition.tip > .admonition-title::before,
div.admonition.tip > .admonition-title::before
{
   background-color: var(--inrupt-color-tip-bg);
}


.admonition.tip > .admonition-title::after, div.admonition.tip > .admonition-title::after {
   color: var(--inrupt-color-tip);
}

div.admonition.warning {
   border-color: var(--inrupt-color-warning);
}

.admonition.warning > .admonition-title::before, div.admonition.warning > .admonition-title::before {
    background-color: var(--inrupt-color-warning-bg);
}


.admonition.warning > .admonition-title::after, div.admonition.warning > .admonition-title::after {
   color: var(--inrupt-color-warning);
}

