/* Make Options link same as other links*/

a.internal > code.std-option > span.pre {
   color: #005b81;
   font-weight: 400;
   line-height: 1.65; 
}

a.internal:hover > code.std-option > span.pre {
   color: rgba(var(--pst-color-link-hover),1);
}

dl.option {
   font-size: medium;
}

code.descname {
   font-size: 1.1em;
}
