
.prev-next-area a.left-prev {
    border: 1px solid var(--inrupt-color-prev-next-border);
    border-radius: 20px;
}

.prev-next-area a p.prev-next-title {
  font-size: 1.0em;
  font-weight: 500;
  
}

.prev-next-area a.right-next {
    border: 1px solid var(--inrupt-color-prev-next-border);
    border-radius: 20px;
}

.prev-next-area a p.prev-next-title {
  color: var(--inrupt-color-link);
}
