.version-button {
  border-radius: 2px;
  color: var(--inrupt-color-toggle-button);
}

.version-selector {
   padding-left: .5rem;
}

button.version-button {
   background-color: transparent;
   border-style: solid;
}

.bd-search input {
  background-color: var(--inrupt-color-background);
}

.spacing {
   padding-right: 2.5rem;
}

/* Using Caption for left hand toc - doc title caption */
p.caption a {
   text-align: left;
}


/* Add border and padding to left hand toc sections */

.toctree-l1 {
    border-top: 1px solid #e0e7e8;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/*nav.bd-links li > a {
  color: var(--inrupt-color-link);
}

nav.bd-links li > a:hover {
  color: var(--inrupt-color-link-hover);
}


.navbar-nav li a {
  color: var(--inrupt-color-link);
}

.navbar-nav li a:hover {
    color: var(--inrupt-color-link-hover);
}

.navbar-nav li.current > a, .navbar-nav li a:focus {
  color: var(--inrupt-color-link);
}

.navbar-nav li a:hover {
  color: var(--inrupt-color-link);
}
*/





*/