.toggle-button {
  color: var(--inrupt-color-toggle-button);
}

details.toggle-details {
  color: var(--inrupt-color-toggle-button);
}

details.toggle-details summary {
  width: fit-content;
  border: 1px solid #1976d2;
}