a, a.headerlink {
  color: var(--inrupt-color-link);
}

a.internal > code > span.pre {
   color: var(--inrupt-color-link);
   font-weight: 400;
   line-height: 1.65; 
}

a.internal:hover > code > span.pre {
   color: rgba(var(--inrupt-color-link),1);
}

/*a.internal > code.std-option > span.pre {
   color: var(--inrupt-color-link);
   font-weight: 400;
   line-height: 1.65;
}

a.internal:hover > code.std-option > span.pre {
   color: rgba(var(--inrupt-color-link),1);
}

a.external > code.docutils > span.pre {
   color: #005b81;
   font-weight: 400;
   line-height: 1.65;
}

a.external:hover > code.docutils > span.pre {
   color: rgba(var(--pst-color-link-hover),1);
}
*/
