button.btn.version-switcher__button {
  border-radius: 2px;
  color: var(--inrupt-color-toggle-button);
  text-align: left;

}

.search-form {
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 95%;
}
.bd-search input {
  background-color: var(--pst-color-background);
  border-radius: 0;
}

.spacing {
   padding-right: 2.5rem;
}

/* Using Caption for left hand toc - doc title caption */
p.caption a {
   text-align: left;
}

nav.bd-links p.bd-links__title {
  text-transform: uppercase;
  font-size: 13px;
}

/* Add border and padding to left hand toc sections */

.toctree-l1 {
    border-top: 1px solid #e0e7e8;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


nav.bd-links li > a {
  color: var(--inrupt-color-link);
}

nav.bd-links li > a:hover {
  color: var(--inrupt-color-link-hover);
}


.navbar-nav li a {
  color: var(--inrupt-color-link);
}

.navbar-nav li a:hover {
    color: var(--inrupt-color-link-hover);
}

.navbar-nav li.current > a, .navbar-nav li a:focus {
  color: var(--inrupt-color-link);
}

.navbar-nav li a:hover {
  color: var(--inrupt-color-link-hover);
}

nav.bd-links .current > a {
  box-shadow: inset max(3px,.1875rem,.12em) 0 0 var(--inrupt-color-link);
}