/* mulish-regular - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('https://docs.inrupt.com/_static/fonts/mulish/mulish-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('https://docs.inrupt.com/_static/fonts/mulish/mulish-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://docs.inrupt.com/_static/fonts/mulish/mulish-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://docs.inrupt.com/_static/fonts/mulish/mulish-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://docs.inrupt.com/_static/fonts/mulish/mulish-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://docs.inrupt.com/_static/fonts/mulish/mulish-v12-latin-regular.svg#Mulish') format('svg'); /* Legacy iOS */
}


.header-style, h1, h2, h3, h4, h5, h6, body {
   font-family: 'Mulish', Open Sans, sans-serif;
   color: var(--inrupt-color-headers);
}

h3 {
   font-size: 1.65em;
}

h4 {
   font-size: 1.25em;
}

body {
  background-color: var(--inrupt-color-background);
}


/* For the breadcrumb at top of page*/

div.related {
   margin-bottom: 5px;
}
div.related ul {
   padding: 0 0 0 2px;
}

.guilabel {
   font-style: normal;
   font-weight: bold;
}

span.guilabel {
   padding: 2px;
   border: none;
}

.alert {
   padding-bottom: 0.75rem;
}



p.topic-title {
   margin-top: 0px;
}

.purple {
   color: #683e7a;
}

.epigraph {
   font-style: italic;
   background-color: var(--inrupt-color-epigraph);
}



dl.option {
   font-size: medium;
}

.footer {
   text-align: center;
}


span.versionmodified {
  font-weight: 600; 
}

/* For now, keep the preceding icon */
span.versionmodified.added::before {
/*  content: none*/
  color: blueviolet;
}
span.versionmodified.changed::before {
  color: blueviolet;
}
span.versionmodified::before {
  color: blueviolet;
}

div.versionadded, div.versionchanged {
   border: none;
   background: none;
   box-shadow: none;
}

div.versionchanged p::before {
    background-color: var(--inrupt-color-version);
}

aside.footnote-list, aside.footnote {
  font-size: 0.9rem;
  
}

@media (min-width: 978px) {
   .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
   }
}


.bd-sidebar-primary {
  background-color: var(--inrupt-color-background);
}

.bd-main .bd-content .bd-article-container {
  flex-grow: 1;
  max-width: 100%;
}
