:root {
   --inrupt-color-background: #fafafa;
   --inrupt-color-headers: #343434;
   --inrupt-color-link: #0D6796;
   --inrupt-color-link-hover: #ff9800;
   --inrupt-color-nav: rgb(63, 128, 159);
   --inrupt-color-table: black;
   --inrupt-color-toggle-button: black;
   --inrupt-color-inline-pre: #262626;
   --inrupt-color-admonition-text: rgb(51,51,51);
   --inrupt-color-important: #ffc107;
   --inrupt-color-important-bg:  #fec406;
   --inrupt-color-tip: #8b28a7;
   --inrupt-color-tip-bg:  #6b2b88;
   --inrupt-color-warning-bg: #d94b4b;
   --inrupt-color-warning: #c44539;
   --inrupt-color-epigraph: #dcdcdc66;
}


html[data-theme="dark"] {
  --inrupt-color-background: #262626;
  --inrupt-color-headers: rgb(205, 205, 205); /* #886b6b;  */
  --inrupt-color-link: rgb(206,157,138);
  --inrupt-color-link-hover: #ff9800;  
  --inrupt-color-nav: #e6eff4;
  --inrupt-color-table: #b1b8bf;  
  --inrupt-color-toggle-button: white;
  --inrupt-color-inline-pre: white;
  --inrupt-color-admonition-text: rgb(205, 205, 205);
  --inrupt-color-important: #9d9b8a;
  --inrupt-color-important-bg:  #fef7e3;
  --inrupt-color-tip: #831fb0;
  --inrupt-color-tip-bg:  #bb34f9;
  --inrupt-color-warning: #ae7d7d;
  --inrupt-color-warning-bg: #d94b4b;
   --inrupt-color-epigraph: #3c3c30;
}