.table {
  color: var(--inrupt-color-table);
}

/* Need for tables in dirhtml pages */
table.docutils {
    margin: 24px 0;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}

table.docutils > thead th.head {
    padding: 0 5px 12px;
}

table.docutils td, table.docutils th {
/*    border-color: #ebebed;*/
    padding: 11px 5px 12px;
    vertical-align: top;
}

/* Need to override theme's td white-space nowrap */

td:first-child {
   white-space: inherit;
}
